.header {
    background-image: url(../images/background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 38px;
    padding-bottom: 230px;
   
&-title {
    font-family: 'Kaushan Script', serif;
    font-size: 72px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-bottom: 68px;
}

&-text {
    font-family: $main-font;
    font-weight: 700;
    font-size: 150px;
    line-height: 140px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 0 140px;
    margin-bottom: 125px;
}

&__btn {
    text-align: center;
}

&__btn button {
    width: 160px;
    height: 40px;
    text-transform: uppercase;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background-color: #efc989;
    border: 4px solid #ffffff;
    text-align: center;
    outline: none;
    cursor: pointer;
}


}


@media (min-resolution: 192dpi) {
    .header {
        background-image: url(../images/background-image@2x.png);
    }
        


}


.logo {
    width: 85px;
    height: 20px;
    font-family: $main-font;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 190px;
    &__list {
        display: flex;
    }

    &__list a {
        font-family: $main-font;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
        transition: all 0.3s linear;
    }

    &__list-item:hover a {
        color: #f7cb88;
    } 

    &__list-item a:after,
    &__list-item &__icon:after {
        display: block;
        content: '';
        width: 100%;
        border: 2px solid #f7cb88;
        margin: 0 auto;
        opacity: 0;
        margin-top: 12px;
        transition: all .3s linear;
    }

    &__list-item:hover &__icon:after,
    &__list-item:hover a:after {
        opacity: 1;
    }

    &__list-item:not(:last-child) {
        margin-right: 55px;
    }

    &__icon {
        fill: #ffffff;
    }

    &__icon:hover {
    fill: #f7cb88;
    cursor: pointer;
    transition: fill .3s linear;
}
    
}
