/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-700 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-slab-regular - latin */

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

.header {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 128px;
}

header a {
    text-decoration: none;
}

.logo {
    font-size: 30px;
    line-height: 41px;
    color: #fed136;
    font-family: 'Dancing Script', serif;
    font-weight: 700;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__list-item a {
    font-size: 14px;
    line-height: 41px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #222222;
}

.nav__list-item:hover a {
    color: #fed136;
    cursor: pointer;
}

.nav__list-item:not(:last-child) {
    margin-right: 40px;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.services {
    text-align: center;
    margin-bottom: 128px;
}

.about-title {
    font-size: 40px;
    line-height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #222222;
    margin-bottom: 25px;
}

.about-desc {
    font-size: 22px;
    line-height: 1.2;
    /* font-family: 'Poppins', serif; */
    font-style: italic;
    color: #9b9b9b;
    margin-bottom: 80px;
}

.services__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.services__list-item {
    width: 240px;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}

.bascket {
    background-image: url(../img/Icon-Basket.png);
}

.laptop {
    background-image: url(../img/Icon-Laptop.png);
}

.locked {
    background-image: url(../img/Icon-Locked.png);
}

.about-info h3 {
    font-size: 18px;
    line-height: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #313131;
}

.about-info p {
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    color: #777777;
}

.wrapper {
    background-image: url(../img/wrapper-Image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.contact-us h2 {
    font-size: 40px;
    line-height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    padding-top: 110px;
}

.contact-us p {
    font-size: 22px;
    line-height: 1.2;
    /* font-family: 'Poppins', serif; */
    font-style: italic;
    color: #9b9b9b;
    margin-bottom: 80px;
}

.user__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-info {
    width: 455px;
}

.user-info input {
    width: 455px;
    height: 52px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 28px;
    padding: 20px 0;
    padding-left: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}

.user-info input::placeholder {
    color: #bbbbbb
}

.user-info input:required:focus:valid {
    border: 1.5px solid green;
}

.user-info input:focus:invalid {
    border: 1.5px solid red;
}

.textarea {
    width: 455px;
}

textarea {
    outline: none;
    width: 455px;
    height: 210px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}

textarea::placeholder {
    color: #bbbbbb;
    padding: 20px 0;
    padding-left: 22px;
}

textarea:focus:valid {
    border: 2px solid green;
}

textarea:focus:invalid {
    border: 1.5px solid red;
}

.btn {
    padding-bottom: 115px;
    width: 940px;
    display: flex;
    justify-content: center;
}

.send {
    height: 65px;
    width: 240px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fed136;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}